# --- Build Artifacts ---
src/reactpy/static/index.js*
src/reactpy/static/morphdom/
src/reactpy/static/pyscript/

# --- Jupyter ---
*.ipynb_checkpoints
*Untitled*.ipynb

# --- Jupyter Repo 2 Docker ---
.local
.ipython
.cache
.bash_history
.python_history
.jupyter

# --- Python ---
.hatch
.venv*
venv*
MANIFEST
build
dist
.eggs
*.egg-info
__pycache__/
*.py[cod]
.tox
.nox
pip-wheel-metadata

# --- PyEnv ---
.python-version

# -- Python Tests ---
.coverage.*
*.coverage
*.pytest_cache
*.mypy_cache

# --- IDE ---
.idea
.vscode

# --- JS ---
node_modules

