repos:
-   repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
    - id: black
      language_version: python3.6
-   repo: https://github.com/PyCQA/flake8
    rev: 3.7.9
    hooks:
    - id: flake8
      args: ["--config=src/py/.flake8", "--exclude=src/js"]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        language: system
        entry: mypy --config-file src/py/mypy.ini
        types: [python]
        exclude: src/py/tests/*|setup.py
