dist: xenial

language: python

python:
  - 3.6
  - 3.7
  - 3.8
  - 3.8-dev

cache: apt

addons:
  chrome: stable

before_install:
  - sudo apt update
  - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh | bash
  - nvm install 10.16.3
  - nvm use 10.16.3
  - npm --version
  - wget -N http://chromedriver.storage.googleapis.com/2.38/chromedriver_linux64.zip
    -P ~/
  - unzip ~/chromedriver_linux64.zip -d ~/
  - rm ~/chromedriver_linux64.zip
  - sudo mv -f ~/chromedriver /usr/bin/
  - sudo chmod +x /usr/bin/chromedriver

install:
  - pip install -r requirements.txt
  - python setup.py build
  - pip install .[all]

script:
  - bash scripts/test.sh
