[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[tool.isort]
multi_line_output = 3
force_grid_wrap = 0
use_parentheses = "True"
ensure_newline_before_comments = "True"
include_trailing_comma = "True"
line_length = 88
lines_after_imports = 2

[tool.mypy]
ignore_missing_imports = true
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true

[tool.pytest.ini_options]
testpaths = "tests"
xfail_strict = true
markers = ["slow: marks tests as slow (deselect with '-m \"not slow\"')"]
python_files = "*asserts.py test_*.py"
asyncio_mode = "auto"

[tool.coverage.report]
fail_under = 100
show_missing = true
skip_covered = true
sort = "Name"
exclude_lines = [
    "pragma: no cover",
    '\.\.\.',
    "raise NotImplementedError",
]
omit = [
    "src/idom/__main__.py",
]

[tool.pydocstyle]
inherit = false
match = '.*\.py'
convention = "google"
add_ignore = ["D100", "D101", "D102", "D103", "D104", "D105", "D107", "D412", "D415"]

[tool.flake8]
ignore = ["E203", "E266", "E501", "W503", "F811", "N802", "N806"]
per-file-ignores = [
    # sometimes this is required in order to hide setup for an example
    "docs/*/_examples/*.py:E402",
]
max-line-length = 88
max-complexity = 20
select = ["B", "C", "E", "F", "W", "T4", "B9", "N", "ROH"]
exclude = ["**/node_modules/*", ".eggs/*", ".tox/*"]
# -- flake8-tidy-imports --
ban-relative-imports = "true"
