# --- Project ----------------------------------------------------------------------------

[project]
name = "scripts"
version = "0.0.0"
description = "Scripts for managing the ReactPy repository"

# --- Hatch ----------------------------------------------------------------------------

[tool.hatch.envs.default]
detached = true
dependencies = [
  "invoke",
  # lint
  "black",
  "ruff==0.0.278",  # Ruff is moving really fast, so pinning for now.
  "toml",
  "flake8",
  "flake8-pyproject",
  "reactpy-flake8 >=0.7",
  # types
  "mypy",
  "types-toml",
  # publish
  "semver >=2, <3",
  "twine",
  "pre-commit",
]

[tool.hatch.envs.default.scripts]
publish = "invoke publish {args}"
docs = "invoke docs {args}"
check = ["lint-py", "lint-js", "test-py", "test-js", "test-docs"]

lint-py = "invoke lint-py {args}"
lint-js = "invoke lint-js {args}"

test-py = "invoke test-py {args}"
test-js = "invoke test-js"
test-docs = "invoke test-docs"

# --- Black ----------------------------------------------------------------------------

[tool.black]
target-version = ["py39"]
line-length = 88

# --- MyPy -----------------------------------------------------------------------------

[tool.mypy]
ignore_missing_imports = true
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true

# --- Flake8 ---------------------------------------------------------------------------

[tool.flake8]
select = ["RPY"]  # only need to check with reactpy-flake8
exclude = ["**/node_modules/*", ".eggs/*", ".tox/*", "**/venv/*"]

# --- Ruff -----------------------------------------------------------------------------

[tool.ruff]
target-version = "py39"
line-length = 88
select = [
  "A",
  "ARG",
  "B",
  "C",
  "DTZ",
  "E",
  # error message linting is overkill
  # "EM",
  "F",
  # TODO: turn this on later
  # "FBT",
  "I",
  "ICN",
  "ISC",
  "N",
  "PLC",
  "PLE",
  "PLR",
  "PLW",
  "Q",
  "RUF",
  "S",
  "T",
  "TID",
  "UP",
  "W",
  "YTT",
]
ignore = [
  # TODO: turn this on later
  "N802", "N806",  # allow TitleCase functions/variables
  # We're not any cryptography
  "S311",
  # For loop variable re-assignment seems like an uncommon mistake
  "PLW2901",
  # Let Black deal with line-length
  "E501",
  # Allow args/attrs to shadow built-ins
  "A002", "A003",
  # Allow unused args (useful for documenting what the parameter is for later)
  "ARG001", "ARG002", "ARG005",
  # Allow non-abstract empty methods in abstract base classes
  "B027",
  # Allow boolean positional values in function calls, like `dict.get(... True)`
  "FBT003",
  # If we're making an explicit comparison to a falsy value it was probably intentional
  "PLC1901",
  # Ignore checks for possible passwords
  "S105", "S106", "S107",
  # Ignore complexity
  "C901", "PLR0911", "PLR0912", "PLR0913", "PLR0915",
]
unfixable = [
  # Don't touch unused imports
  "F401",
]

[tool.ruff.isort]
known-first-party = ["reactpy"]

[tool.ruff.flake8-tidy-imports]
ban-relative-imports = "all"

[tool.ruff.per-file-ignores]
# Tests can use magic values, assertions, and relative imports
"**/tests/**/*" = ["PLR2004", "S101", "TID252"]
"docs/**/*.py" = [
  # Examples require some extra setup before import
  "E402",
  # Allow exec
  "S102",
  # Allow print
  "T201",
]
"scripts/**/*.py" = [
  # Allow print
  "T201",
]
