-r requirements/build-docs.txt
-r requirements/build-pkg.txt
-r requirements/check-style.txt
-r requirements/check-types.txt
-r requirements/make-release.txt
-r requirements/pkg-deps.txt
-r requirements/pkg-extras.txt
-r requirements/test-env.txt
-r requirements/nox-deps.txt
