body {
  --sd-color-info: var(--color-admonition-title-background--note);
  --sd-color-warning: var(--color-admonition-title-background--warning);
  --sd-color-danger: var(--color-admonition-title-background--danger);
  --sd-color-info-text: var(--color-admonition-title--note);
  --sd-color-warning-text: var(--color-admonition-title--warning);
  --sd-color-danger-text: var(--color-admonition-title--danger);
}

.sd-card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sd-tab-content .highlight pre {
  max-height: 700px;
  overflow: auto;
}

.sd-card-title .sd-badge {
  font-size: 1em;
}
