body {
  --sd-color-info: var(--color-admonition-title-background--note);
  --sd-color-warning: var(--color-admonition-title-background--warning);
  --sd-color-danger: var(--color-admonition-title-background--danger);
  --sd-color-info-text: var(--color-content-foreground);
}
