.sd-card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sd-tab-content .highlight pre {
  max-height: 700px;
  overflow: auto;
}

.sd-card-title .sd-badge {
  font-size: 1em;
}
