[data-md-color-scheme="slate"] {
	--md-footer-bg-color: var(--md-default-bg-color);
	--md-footer-bg-color--dark: var(--md-default-bg-color);
	--md-footer-border-color: var(--md-header-border-color);
}

[data-md-color-scheme="default"] {
	--md-footer-fg-color: var(--md-typeset-color);
	--md-footer-fg-color--light: var(--md-typeset-color);
	--md-footer-bg-color: var(--md-default-bg-color);
	--md-footer-bg-color--dark: var(--md-default-bg-color);
	--md-footer-border-color: var(--md-header-border-color);
}

.md-footer {
	border-top: 1px solid var(--md-footer-border-color);
}

.md-copyright {
	width: 100%;
}

.md-copyright__highlight {
	width: 100%;
}

.legal-footer-right {
	float: right;
}

.md-copyright__highlight div {
	display: inline;
}
