alabaster==0.7.13
Babel==2.12.1
beautifulsoup4==4.12.2
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
distlib==0.3.6
docutils==0.17.1
filelock==3.11.0
fonttools==4.39.3
furo==2022.4.7
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
kiwisolver==1.4.4
livereload==2.6.3
MarkupSafe==2.1.2
matplotlib==3.7.1
numpy==1.24.2
packaging==23.1
Pillow==9.5.0
platformdirs==3.2.0
Pygments==2.15.0
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.28.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==4.5.0
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.19.1
sphinx-copybutton==0.5.2
sphinx-reredirects==0.1.1
sphinx-resolve-py-references==0.1.0
sphinx_design==0.4.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxext-opengraph==0.8.2
tornado==6.2
urllib3==1.26.15
virtualenv==20.21.0
