mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-include-markdown-plugin
linkcheckmd
mkdocs-spellcheck[all]
mkdocs-git-authors-plugin
mkdocs-minify-plugin
mkdocs-section-index
mike
