mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-material==9.4.0
mkdocs-include-markdown-plugin
mkdocs-spellcheck[all]
mkdocs-git-authors-plugin
mkdocs-minify-plugin
mike
mkdocstrings[python]
black
linkcheckmd
mkdocs-section-index
