name: Publish Docs
on:
    push:
        branches:
            - new-docs
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - uses: actions/setup-python@v4
              with:
                  python-version: 3.x
            - run: pip install -r requirements/build-docs.txt
            - run: mkdocs gh-deploy --force
