name: publish

on:
    release:
        types: [published]

jobs:
    publish-reactpy:
        if: startsWith(github.event.release.name, 'reactpy ')
        uses: ./.github/workflows/.hatch-run.yml
        with:
            job-name: "Publish to PyPI"
            run-cmd: "hatch run javascript:build && hatch build --clean && hatch publish --yes"
        secrets:
            pypi-username: ${{ secrets.PYPI_USERNAME }}
            pypi-password: ${{ secrets.PYPI_PASSWORD }}

    publish-reactpy-client:
        if: startsWith(github.event.release.name, '@reactpy/client ')
        uses: ./.github/workflows/.hatch-run.yml
        with:
            job-name: "Publish to NPM"
            run-cmd: "hatch run javascript:publish_client"
        secrets:
            node-auth-token: ${{ secrets.NODE_AUTH_TOKEN }}

    publish-event-to-object:
        if: startsWith(github.event.release.name, 'event-to-object ')
        uses: ./.github/workflows/.hatch-run.yml
        with:
            job-name: "Publish to NPM"
            run-cmd: "hatch run javascript:publish_event_to_object"
        secrets:
            node-auth-token: ${{ secrets.NODE_AUTH_TOKEN }}
